.angleDown {
  z-index: 1;
  position: fixed;
  bottom: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  mix-blend-mode: difference;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 提升可读性 */
}
