.angleDown {
  z-index: 1;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  mix-blend-mode: difference;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 提升可读性 */
  animation: scroll-down-effect 1.5s infinite;
}

@keyframes scroll-down-effect {
  0% {
    bottom: 0;
    opacity: 0.4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  }

  50% {
    bottom: 16px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  100% {
    bottom: 0;
    opacity: 0.4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  }
}
