@import "tailwindcss";
@import "../components/Paper/paper.css";
@plugin "daisyui" {
  themes: cupcake --default, dark --prefersdark;
}
@plugin "daisyui/theme" {
  name: cupcake;
  --radius-selector: .5rem;
  --radius-box: .5rem;
  --radius-field: .25rem;
  --color-primary: #1976d2;
  --color-primary-content: oklch(98% 0.003 247.858);
}

.md-editor {
  background-color: transparent !important;
}

.md-editor p {
  text-indent: 2em;
}

.md-editor .md-editor-preview-wrapper {
  padding: 10px 10px 10px 0;
}

.md-editor ul {
  list-style-type: disc;
}

.md-editor ul ul {
  list-style-type: circle;
}

.md-editor ul ul ul {
  list-style-type: square;
}

[data-theme="cupcake"] {
  --text-bg-hover: #7fc8f8;
}

[data-theme="dark"] {
  --root-bg: #181818;
  --text-bg-hover: color-mix(
    in oklab,
    var(--color-base-content) 10%,
    transparent
  );
}

.w-container {
  width: 1080px;
  max-width: 1080px;
  min-width: 1080px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  padding: 0 20px;
}

@media (max-width: 1080px) {
  .w-container {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    min-width: auto;
  }
}

/* md展示样式覆盖 */
.md-editor-dark .md-editor-preview,
.md-editor-dark .md-editor-preview h1,
.md-editor-dark .md-editor-preview h2,
.md-editor-dark .md-editor-preview h3,
.md-editor-dark .md-editor-preview h4,
.md-editor-dark .md-editor-preview h5,
.md-editor-dark .md-editor-preview h6,
.md-editor-dark .md-editor-preview .md-editor-code-block {
  color: #f0f0f0 !important;
}

/* 暗黑模式切换配合样式 */
/*noinspection CssInvalidPseudoSelector*/
::view-transition-new(root),
::view-transition-old(root) {
  /* 关闭默认动画，否则影响自定义动画的执行 */
  animation: none;
  /* 设置了元素的混合模式为"正常" */
  mix-blend-mode: normal;
}

/* 暗黑模式遮罩层级调整 */
/*noinspection CssInvalidPseudoSelector*/
.dark-transition::view-transition-old(root) {
  z-index: 100 !important; /* 确保在添加类时能生效 */
}

html[data-theme="cupcake"] {
  overflow: auto;
  scrollbar-color: rgb(var(--color-primary)/.2) #0000;
  scrollbar-width: thin
}

html[data-theme="cupcake"]::-webkit-scrollbar {
  height: 6px;
  width: 6px
}

html[data-theme="cupcake"]::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: initial;
  border: 1px dashed #0000;
  border-radius: 3px
}

html[data-theme="cupcake"]::-webkit-scrollbar-thumb:hover {
  background-clip: initial;
  background-color: rgb(var(--color-primary)/.4)
}

html[data-theme="cupcake"]:hover::-webkit-scrollbar-thumb {
  background-color: rgb(var(--color-primary)/.2)
}

html[data-theme="cupcake"]:hover::-webkit-scrollbar-thumb:hover {
  background-clip: initial;
  background-color: rgb(var(--color-primary)/.4)
}

html[data-theme="cupcake"]::-webkit-scrollbar-track {
  background-color: initial
}

html[data-theme="dark"] {
  overflow: auto;
  scrollbar-color: rgb(var(--color-base-100)/.2) #0000;
  scrollbar-width: thin
}

html[data-theme="dark"]::-webkit-scrollbar {
  height: 6px;
  width: 6px
}

html[data-theme="dark"]::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: initial;
  border: 1px dashed #0000;
  border-radius: 3px
}

html[data-theme="dark"]::-webkit-scrollbar-thumb:hover {
  background-clip: initial;
  background-color: rgb(var(--color-base-100)/.4)
}

html[data-theme="dark"]:hover::-webkit-scrollbar-thumb {
  background-color: rgb(var(--color-base-100)/.2)
}

html[data-theme="dark"]:hover::-webkit-scrollbar-thumb:hover {
  background-clip: initial;
  background-color: rgb(var(--color-base-100)/.4)
}

html[data-theme="dark"]::-webkit-scrollbar-track {
  background-color: initial
}