@import "tailwindcss";
@import "../component/Paper/paper.css";
@plugin "daisyui" {
  themes: cupcake --default, dark --prefersdark;
}
@plugin "daisyui/theme" {
  name: cupcake;
  --radius-selector: .5rem;
  --radius-box: .5rem;
  --radius-field: .25rem;
  --color-primary: #1976d2;
  --color-primary-content: oklch(98% 0.003 247.858);
}

.md-editor {
  background-color: transparent !important;
}

:root {
}

[data-theme="dark"] {
  --root-bg: #181818;
}

.w-container {
  width: 1340px;
  max-width: 1340px;
  min-width: 1340px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  padding: 0 20px;
}

@media (max-width: 1340px) {
  .w-container {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    min-width: auto;
  }
}

/* md展示样式覆盖 */
.md-editor-dark .md-editor-preview,
.md-editor-dark .md-editor-preview h1,
.md-editor-dark .md-editor-preview h2,
.md-editor-dark .md-editor-preview h3,
.md-editor-dark .md-editor-preview h4,
.md-editor-dark .md-editor-preview h5,
.md-editor-dark .md-editor-preview h6,
.md-editor-dark .md-editor-preview .md-editor-code-block {
  color: #f0f0f0 !important;
}

/* 暗黑模式切换配合样式 */
::view-transition-new(root),
::view-transition-old(root) {
  /* 关闭默认动画，否则影响自定义动画的执行 */
  animation: none;
  /* 设置了元素的混合模式为"正常" */
  mix-blend-mode: normal;
}

/* 暗黑模式遮罩层级调整 */
.dark-transition::view-transition-old(root) {
  z-index: 100 !important; /* 确保在添加类时能生效 */
}
